<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="info_table.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Table info</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div id="info-table">
          <div class="search z-depth-1">
            <div class="input-field">
              <i class="material-icons prefix">search</i>
              <input type="text" id="search-input-field" v-model="searchInput">
              <label for="search-input-field"> Search by Id, First Name, Last Name </label>
            </div>
          </div>
          <div class="table-view z-depth-1">
            <table class="centered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <tbody v-if="searchInput === '' ">
                <tr v-for="person in persons" class="modal-trigger" href="#modal1" @click="getMoreInfo(person)">
                  <td v-text="person.id"></td>
                  <td v-text="person.firstName"></td>
                  <td v-text="person.lastName"></td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr v-for="person in searchResults" class="modal-trigger" href="#modal1" @click="getMoreInfo(person)">
                  <td v-text="person.id"></td>
                  <td v-text="person.firstName"></td>
                  <td v-text="person.lastName"></td>
                </tr>
              </tbody>
            </table>
            <div id="modal1" class="modal bottom-sheet">
              <div class="modal-content">
                <h4>Full Person Info:</h4>
                <p>ID: {{ fullPersonInfo.id }}</p>
                <p>First Name: {{ fullPersonInfo.firstName }}</p>
                <p>Last Name: {{ fullPersonInfo.lastName }}</p>
                <p>Email: {{ fullPersonInfo.email }}</p>
                <p>Phone: {{ fullPersonInfo.phone }}</p>
                <!-- <p>Street Address: {{ fullPersonInfo.address.streetAddress }}</p>
                <p>City: {{ fullPersonInfo.address.city }}</p>
                <p>Zip Code: {{ fullPersonInfo.address.zip }}</p>
                <p>State: {{ fullPersonInfo.address.state }}</p> -->
                <p>Description: {{ fullPersonInfo.description }}</p>
              </div>
            </div>
          </div>
          <div>
            <p style="font-size: 0.8em">Click on table row to get more info.</p>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container"> © 2019</div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="info_table.js"></script>
  </body>
</html>


<!-- TODO:
1. search;
2. address in modal;
3. footer and nav color;
-->


<b-form-input
             v-model="filter"
             type="search"
             id="filterInput"
             placeholder="Type to Search"
           ></b-form-input>
