body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa91;
}

main {
  flex: 1 0 auto;
}
nav, .page-footer {
  background-color: orange;
}
.nav-wrapper {
  padding: 0px 30px;
}

#info-table {
  display: grid;
  margin-top: 7%;
  grid-gap: 2em;
  grid-template-rows: 30% 70%;
  grid-template-columns: 1fr;
}

#info-table > div {
  background-color: white;
}

.search {
}
.table-view {
}



#stream-page {
   display: grid;
   margin-top: 3%;
   grid-gap: 1.5em;
   grid-template-columns: repeat(10, 1fr);
   grid-template-areas:
      "c c c s s s s s l l"
      "c c c s s s s s l l"
      "n n n n n n n n n n"
      "h h h h h h h h h h";
}
#stream-page > div {
   display: grid;
   border-radius: 5px;
}
.fr-cameras-picker {
   grid-area: c;
   background-color: white;
}
.fr-stream {
   grid-area: s;
   background-color: white;
}
