body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa91;
}

main {
  flex: 1 0 auto;
}
nav, .page-footer {
  background-color: #ffb52e;
}
.nav-wrapper {
  padding: 0px 30px;
}

#info-table {
  display: grid;
  margin-top: 4%;
  grid-gap: 2em;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

#info-table > div {
  background-color: white;
}

.search {
  display: grid;
  padding: 1% 5%;
}
.table-view {
  display: grid;
  padding: 1%;
  height: calc(70vh - 10px);
  overflow-y: auto;
}
table {
  /* display: grid; */
}
tbody > tr {
  cursor: pointer;
}

tbody > tr:hover {
  background-color: #ffb52e3b;
}
.modal.bottom-sheet {
  border-radius: 5px 5px 0px 0px;
}
